img {
  width: 15vw;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
}
body {
  margin: 0;
}

.flex {
  display: flex;
}
.spaceBetween {
  justify-content: space-between;
}
.sideMargin2 {
  margin: 0 2vw;
}
.centered {
  align-items: center;
}
.height3 {
  height: 5vh;
}
.height7 {
  height: 7vh;
}
.gridRecordPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
  background-color: #86BBD8;
}

.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.record-card {
  margin: 0 2vh;
}

.header {
  height:10vh;
  background-color: #F26419;
  align-content: center;
}
.margin0 {
  margin: 0 0 0 0;
}
.titleAndYear{
  color:black;
}
.boxSizing{
  box-sizing: content-box;
}
.leftMarginAuto{
  margin-left: auto;
}

.center {
margin-left: auto;
} 